body {
    margin: 0;
}

.container {
    margin: auto;
    padding: 60px .5px;
    height: 100%;
}

#section {
    background-color: rgb(189, 121, 33);
    background-image: url(keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
}

.card {
    width: 50vh;
    margin: auto;
    padding: .5px .5px 25px .5px;
    text-align: center;
    border-radius: 9.5px;
    background-color: lightblue;
    box-shadow: 1px 5px 10px rgba(201, 108, 47, 0.342);
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    margin-bottom: 17px;
    white-space: normal;
}

.form-control {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    height: 35px;
    width: 260px;
    border-top: none;
    border-left: 3px solid rgb(218, 74, 22);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: saddlebrown;
}

.btn {
    width: 200px;
    border-radius: 50px;
    border: 0;
    padding: 8.5px;
    font-size: medium;
    font-family: fantasy;
    border-color: rgb(238, 37, 37);
    color: gray;
    box-shadow: 4px 5px 8px rgb(223, 126, 126);
}

.btn:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom: rgb(160, 46, 65);
    border-top: rgb(160, 46, 65);


}